.main{ 
    background-color: black;
}

.boxMain{
  background-color: #20B2AA;
  border-radius: 10px;
  border: 3px solid black;
  display: flex;
  align-items: center;
  justify-content: center;

}

.boxTitle{
    background-color: #0069E0;
    border-radius: 10px;
    border: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxPlayers{
    background-color: #7610DE;
    border-radius: 10px;
    border: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;

}

.boxVide{
    background-color: #E02C09;
    border-radius: 10px;
    border: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxChat {
    background-color: #E8D3B4;
    border-radius: 10px;
    border: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* code de la div contenant les boutons pour jouer les sons */


.boxBouton{
    background-color: pink;
    border: solid;
    border-radius: 10px;
    border-color: black;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 150px;


}

#btnPlay{
    width: 100px;
    height: 100px;
    background-color: gray;
    border: solid;
    border-radius: 50px ;
    /*police*/
    font-size: 20px;
    font-weight: 900;
}

#btnPlus{
    width: 80px;
    height: 80px;
    background-color: gray;
    border: solid;
    border-radius: 40px ;
    /*police*/
    font-size: 50px;
    font-weight: 900;
}

.blue {
    background-color: blue;
    border: solid;
    border-radius: 40px;
    font-size: 20px;
    font-weight: 50px;
    height: 80px;
}

.carre {
    width: 100px; /* Largeur du carré */
    height: 100px; /* Hauteur du carré */
    background-color: #3498db; /* Couleur du carré */
}